body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#2E963D;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:35px;
  width:301px;
  height:23px;
  font-size:20px;
  color:#2E963D;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2E963D;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:200px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2E963D;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:276px;
  width:379px;
  height:60px;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:279px;
  height:30px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:279px;
  height:30px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:275px;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2E963D;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:464px;
  width:116px;
  height:26px;
  color:#2E963D;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:43px;
  background:inherit;
  background-color:rgba(46, 150, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:68px;
  width:324px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:304px;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:362px;
  width:64px;
  height:24px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:362px;
  width:279px;
  height:24px;
}
#u682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2E963D;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:464px;
  width:116px;
  height:26px;
  color:#2E963D;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:53px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:500px;
  width:5px;
  height:38px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:53px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:500px;
  width:5px;
  height:38px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E963D;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:538px;
  width:174px;
  height:24px;
  font-size:16px;
  color:#2E963D;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E963D;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:538px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#2E963D;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:404px;
  width:90px;
  height:24px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:404px;
  width:279px;
  height:24px;
}
#u689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
